body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial;
}

h1 {
    font-size: 50px;
}

img {
    border-radius: 20px;
    margin: 20px;
}

a {
    color: lime;
    font-size: 20px;
    text-decoration: none;
}

button {
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}
